config1/authorized_key.json
config1/terraform.tfvars

config1/.terraform/
config1/.terraform.lock.hcl
config1/terraform.tfstate
config1/terraform.tfstate.backup
config1/*.tfstate
config1/*.tfstate.*

*.zip
config1/.env

config2/authorized_key.json
config2/terraform.tfvars
config2/.terraform/
config2/.terraform.lock.hcl
config2/terraform.tfstate
config2/terraform.tfstate.backup
